html, body {
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	width: 100%;
	background-color: #ff0000;
	color: black;
	font: 400 16px monospace;
}

header {
	padding: 5px;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	flex-grow: 1;
}

h1, p { margin: 0; }

section {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
	width: 50%;
}

canvas { margin: 5px 0; }
#boomTilt { display: none; }
