html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	width: 380px;
	height: 100%;
	margin: 0;
	background-color: black;
	color: #ff0000;
	font: 400 16px monospace;
}

header {
	border: 1px solid white;
	padding: 5px;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	flex-grow: 1;
}

h1, p { margin: 0; }

section {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid white;
	width: 50%;
}

#boomTilt { display: none; }
#boomButton { align-self: flex-end; }

#smackPad {
	align-self: flex-start;
}